.addproduct-container1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.container1-grid1{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    /* align-items: center; */
    box-shadow: 0px 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}

.container1-grid1-div{
    display: grid;
    grid-template-columns: 1fr 2fr;  
    gap: 20px;
    align-items: center;
}

.container1-grid1-p {
    margin-bottom: 0px;
    padding-left: 10px;
}

.container1-grid1-input {
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(120, 118, 118, .5);
}

.addproduct-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
    margin-right: 10px;
}

.addcontainer2-subdiv{
    display: flex;
    justify-content: space-between;
}
.length-div > input, .breadth-div  > input, .width-div > input{
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(120, 118, 118, .5);
    outline: none;
}

h4{
    margin-bottom: 0px;
}

.discard-btn{
    padding: 10px;
    border-radius: 10px;
    /* outline: none; */
    width: 100px;
    border: 1px solid rgba(120, 118, 118, .5);
    background: none;
}

.submit-btn {
    padding: 10px;
    border-radius: 10px;
    /* outline: none; */
    background-color: blue;
    color: white;
    border: 1px solid blue;
    letter-spacing: 1px;
    width: 150px;
}